Source: furkan
Section: sound
Priority: optional
Maintainer: Fatih Bostanci <faopera@gmail.com>
Build-Depends: cmake (>= 3.16),
               debhelper-compat (= 13),
               qt6-base-dev (>= 6.0.0),
               qt6-multimedia-dev (>= 6.0.0),
               qt6-tools-dev,
               qt6-tools-dev-tools,
               libstdc++-dev,
               zlib1g-dev,
               dh-cmake
Standards-Version: 4.6.1
Homepage: https://gitlab.com/fbostanci/furkan

Package: furkan
Architecture: any
Depends: libqt6gui6t64, libqt6widgets6t64,libqt6core6t64,libqt6network6t64,libqt6multimedia6, hicolor-icon-theme, ${misc:Depends}, ${shlibs:Depends}
Description: furkan
 61 tane okuyucu secimli Kuran dinletici.
